.stage {
  display: flex;
}

/*https://developer.mozilla.org/fr/docs/Tutoriel_canvas/Optimizing_canvas*/

.cursor-layer {
   z-index: 2 ;
   position: absolute;
 }

.background-layer {
  z-index: 1;
  position: absolute;
 }
